* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /*@font-face {
        font-family: 'Myfont';
        src: url('assets\fonts\montserratalternates-bold-webfont.woff') format('woff'); 
        url('assets\fonts\montserratalternates-bold-webfont.woff2') format('.woff2');
        font-weight: normal;
        font-style: normal;*/
    }
    /*Aqui voy a definir la paleta de colores que voy a utilizar en la pagina, todas las variables que pongamos aqui estaran disponibles a nivel global*/
    :root {
        --primary: #ffffff;
        --secondary: #212429;
        --accent: #989899;
    }


body {
    font-family:'Myfont' sans-serif; /*Sans-serif será la fuente de respaldo en caso de que mi fuente de error*/
    color: var(--secondary)
}

/*Con esto dejo fija la barra de navegación*/
.fixed-header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center ;
    padding: 16px;
    background-color:var(--primary);

}
/* Estilo para los elementos dentro de .fixed-header */
.fixed-header span {
  cursor: pointer;  /*Cambia el cursor al pasar sobre los elementos*/
  transition: all 0.3s ease;  /*Transición suave para el hover*/
  padding: 10px;
}

/* Efecto hover cuando el cursor pasa sobre los <span> dentro de .fixed-header */
.fixed-header span:hover {
  background-color:var(--accent);  /* Fondo naranja al hacer hover */
  color: white;  /* Texto blanco */
  transform: scale(1.1);  /* Aumenta el tamaño ligeramente */
}
/* Estilo del contenido */
.content {
  background-color:var(--primary);
  padding: 64px; /* Espacio suficiente para que el contenido no quede oculto por el header fijo */
} 
.inicio {
margin-left: 16px;;
}  
/*Contenedor de las imagenes*/  
.container3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 64px;/*espacio entre las cajas*/
    justify-content: center;/*centra las imagenes en la pagina*/
    padding: 20px;
}
  /*Estilo para cada caja de iconos*/
  .box {
    background-color:var(--primary); /*Fondo blanco para cada caja*/
    /*border: 1px solid #ddd; /*he puesto un borde sutil para poder ubicar bien las imagenes */
    border-radius: 8px; /*Bordes redondeados*/
    width: 300px; /* Ancho fijo para las imágenes*/
    text-align:center; /*Para centrar el contenido dentro de cada caja*/
    padding: 10px;
  }
  /* Estilo de las imágenes */
  .box img {
    width: 100%; /*Para que la imagen ocupe todo el ancho del contenedor*/
    height: auto; /*Mantiene la proporción de la imagen*/
    border: radius 16px; /*Bordes redondeados en las imágenes*/
  }


  /* Estilo para el texto del producto (título y precio) */
  .info-producto {
    font-family: 'Myfont', sans-serif;
    text-align: center;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
  }
  /* Estilo para el precio del producto */
  .info-producto .precio {
    font-family: 'Myfont', sans-serif;
    font-size: 16px;
    color: var(--secondary);/* Color rojo para el precio */
    font-weight: bold
  }
  header {
    display: flex;
    background-color:var(--primary);
    padding: 1rem;
  }
  header h1 {
    display:flex;
    padding-top: 128px; /*Me aseguro que no quede oculto detrás del menu fijo*/
    margin-left: 64px;
    font-family: "Myfont", sans-serif;
  }
  /*Contenedor principal del footer y alineación de los elementos en horizontal*/
  footer {
    display: flex;
    flex-wrap: wrap;/*Asegura que si no hay suficiente espacio, se ajusten a la siguiente fila*/
    justify-content: center;/*Centro los contenedores en el footer*/
    background-color:var(--secondary); /*color de fondo del footer*/
    gap: 40px; /*Espaciado entre los contenedores*/
    color:var(--primary); /*color de las letras del footer*/
    text-align: left;
    padding: 16px;
  
  }

  /*Estilo de los contenedores internos de los iconos y texto*/
  .container4, .container5, .container6 {
   margin-bottom: 32px; /*Espacio entre los botones*/
   background-color: var(--secondary);
   display: flex;
   justify-content: flex-start;
   flex-direction:row;
   gap: 1rem;
   align-items:first baseline;
  }
  
  
  /*Estilo del círculo blanco alrededor del icono*/
  .Circulo-blanco {
  background-color:var(--primary); /*Fondo blanco*/
  border-radius: 50%; /*redondeo las esquinas para que quede un circulo*/
  display: inline-block; /*Para que los iconos se alineen en línea*/
  width: 64px; /*Tamaño del ancho del circulo*/
  height: 64px; /*Tamaño del alto del círculo*/
}
.Circulo-blanco:hover {
  background-color: var(--accent);
  
}