p {
    color: brown;

}

*{
    box-sizing: content-box;
}

.content-box {
    width: 200px ;
    height: 200px;
    border: 20px solid black;
    padding: 20px;
    background-color: indigo;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}